body {
    background-color: darkcyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 50px auto;
}

.row {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form {
    width: 450px;
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(0 0 0 / 20%);
}

.form .form-control {
    width: 100%;
    padding: 10px;
}

.form>h2 {
    color: #e2e8f0;
    margin-bottom: 15px;
    text-align: center;
}

.icon {
    margin: auto;
    display: flex;
    justify-content: center;
}

.form .form-control .input-control {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form .form-control .input-control label {
    font-size: 18px;
    font-weight: 600;
    color: #e2e8f0;
}

.form .form-control .input-control input {
    height: 35px;
    padding: 10px;
    outline: none;
    background-color: inherit;
    border: none;
    color: #e2e8f0;
    font-size: 20px;
    border-bottom: #11305b 1px solid;
}

.form .form-control .form-submit {
    padding: 7px 15px;
    font-size: 18px;
    background-color: darkgreen;
    color: #e2e8f0;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

.form .form-register,
.form .form-login {
    width: 100%;
    background-color: #2d3748;
    padding: 10px;
    text-align: center;
}

.form .form-register a,
.form .form-login a {
    font-weight: 700;
    font-size: 18px;
    color: #e2e8f0;
}

.success {
    color: darkgreen;
}

.error {
    color: red;
}
