.menu {
    position: fixed;
    width: 11%;
    height: 100%;
    top: 58px;
}
a{
    color: aliceblue;
}

.content {
    width: 89%;
    margin-left: 11%;
}
.list-group-item {
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
}
.dropMenu {
    position: absolute;
    top: 15px;
    left: 100%;
    width: 100%;
   color: #1a202c;
}

.save {
    margin-right: 10px;
    display: block;
}

.nav-link {
    cursor: pointer
}
