* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --typeHeaderPrimary: Ubuntu;
    --typeHeaderFallback: sans-serif;
    --typeHeaderSize: 40px;
    --typeHeaderWeight: 500;
    --typeHeaderLineHeight: 1;
    --typeHeaderSpacing: 0.0em;
    --typeBasePrimary: Ubuntu;
    --typeBaseFallback: sans-serif;
    --typeBaseSize: 18px;
    --typeBaseWeight: 400;
    --typeBaseSpacing: 0.025em;
    --typeBaseLineHeight: 1.6;
    --typeCollectionTitle: 18px;
    --iconWeight: 2px;
    --iconLinecaps: miter;
    --buttonRadius: 28px;
    --colorGridOverlayOpacity: 0.0;
    --colorBtnPrimary: rgba(255, 255, 255, 0.2);
    --colorBtnPrimaryLight: #ffffff;
    --colorBtnPrimaryDim: #f2f2f2;
    --colorBtnPrimaryText: #34495e;
    --colorCartDot: #eb3e58;
    --colorLink: #34495e;
    --colorTextBody: #34495e;
    --colorPrice: #34495e;
    --colorTextSavings: #eb3e58;
    --colorSaleTag: #eb3e58;
    --colorSaleTagText: #ffffff;
    --colorBody: #f5f8f8;
    --colorBodyDim: #e6eded;
    --colorFooter: #34495e;
    --colorFooterText: #f5f8f8;
    --colorFooterAlt: #f5f8f8;
    --colorBorder: #e8e8e1;
    --colorNav: #ffffff;
    --colorNavText: #34495e;
    --colorAnnouncement: #0f0f0f;
    --colorAnnouncementText: #ffffff;
    --colorHeroText: #ffffff;
    --colorModalBg: #e6e6e6;
    --colorImageOverlay: #000000;
    --colorImageOverlayOpacity: 0.0;
    --colorImageOverlayTextShadow: 0.0;
    --colorSmallImageBg: #ffffff;
    --colorLargeImageBg: #eaeff3;
    --colorGridOverlay: #000000;
    --colorGridOverlayOpacity: 0.1;
    --colorDrawers: #ffffff;
    --colorDrawersDim: #f2f2f2;
    --colorDrawerBorder: #34495e;
    --colorDrawerText: #34495e;
    --colorDrawerTextDark: #19232d;
    --colorDrawerButton: #111111;
    --colorDrawerButtonText: #ffffff;
    --colorBrandSalmon: #FF6A70;
    --colorBrandPink: #F3B0D4;
    --colorBrandGreen: #94DAB0;
    --colorBrandOrange: #FFA67D;
    --colorBrandTurquoise: #9EDEE2;
    --colorBrandGrey: #EAEFF3;
    --colorBrandBlue: #34495E;
    --colorBrandViolet: #B9B6FF;
    --grid-gutter: 17px;
}

body {
    font-family: var(--typeHeaderFallback);
    background-color: var(--colorBtnPrimaryDim);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu_row {
    position: relative;
    margin: auto;
    padding: 40px 50px;
    width: calc(1600px - 94px - 94px);
    max-width: calc(100vw - 94px - 94px);
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: none;
    border-radius: 0 0 30px 30px;
}

.menu_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_content {
    display: flex;
}

.menu_content_box {
    margin-right: 50px;
}

.menu_content_box ul {
    display: flex;
}

.menu_content_box ul li {
    margin-right: 2em;
}

.menu_content_box ul li a {
    color: var(--colorDrawerText);
    font-size: 20px;
}

.tab_category {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    top: 100%;
    left: 0;
    padding: 20px;
    display: flex;
    border-radius: 0 0 30px 30px;
}

.tab_category_ol {
    margin: 10px 20px;
    border-right: 1px solid var(--colorDrawerBorder);
}

.tab_category_ol:last-child {
    border-right: none;
}

.tab_category_head {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.tab_category_body {
    margin-bottom: 10px;
    font-size: 18px;
}